<header class="demo-header">
  <h1>ngx-mat-tiptap Demo</h1>
</header>
<section class="demo-section">
  <form [formGroup]="form">
    <div class="editors-container">
      <div class="editor-section">
        <mat-form-field appearance="outline" class="tiptap-editor">
          <ngx-mat-tiptap formControlName="tiptapContent" />
          <mat-label>Tiptap editor</mat-label>
        </mat-form-field>
        <div class="value-display">
          <pre><code>{{ form.get('tiptapContent')?.value | json }}</code></pre>
        </div>
      </div>
      <div class="editor-section">
        <mat-form-field appearance="outline" class="regular-textarea">
          <mat-label>Regular textarea</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMaxRows="10"
            formControlName="regularText"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</section>
